<form nz-form [formGroup]="form">
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Nom</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Le champs est requis">
            <input nz-input [formControl]="form.controls['lastname']" name="firstname" required minlength="2" maxlength="4"/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Prénom</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Le champs est requis">
            <input nz-input [formControl]="form.controls['firstname']" name="prenom" required/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Email</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Le champs est requis">
            <input nz-input [formControl]="form.controls['email']" name="email" required/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Mot de passe</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Le champs est requis">
            <input nz-input [formControl]="form.controls['password']" name="password" required />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Role</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Le champs est requis">
            <nz-select [formControl]="form.controls['role_id']" nzAllowClear nzPlaceHolder="Choisissez le role">
                <nz-option *ngFor="let role of roles" [nzValue]="role.id" [nzLabel]="role.libelle"></nz-option>
            </nz-select>
        </nz-form-control> 
    </nz-form-item>
</form>