<div class="row m-0 px-0 pb-5">

    <div class="col-md-10 col-12 d-block mx-auto">
        <div class="text-center mb-5">
            <h1>Gestion des utilisateurs</h1>
        </div>
        <div class="px-md-5">
            <div class="mb-4 shadow-sm">
                <nz-collapse [nzBordered]="false">
                    <nz-collapse-panel [nzHeader]="'Afficher les filtres'" [nzActive]="true">
                        <div class="row my-3">
                            <div class="col-4 pl-5">
                                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                                    <input type="text" (input)="sendFilter()" [(ngModel)]="filter.keyword" nz-input nzAllowClear
                                        placeholder="Rechercher un utilisateur" />
                                </nz-input-group>
                                <ng-template #suffixIconButton>
                                    <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
                                </ng-template>
                            </div>
                            <div class="col-3">

                            </div>
                            <div class="col">
                                <div class="float-right">
                                    <button nz-button nzType="primary" (click)="openCreateUserModal()"><i nz-icon nzType="plus"></i>
                                        Ajouter un nouvel utilisateur</button>
                                </div>
                            </div>
                        </div>
                    </nz-collapse-panel>
                </nz-collapse>
            </div>

            <nz-table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th>Prénom</th>
                        <th>Adresse mail</th>
                        <th>Rôle de l'utilisateur</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="users">
                    <tr *ngFor="let user of users">
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <p *ngIf="user.deleted_at">{{user.role.libelle}}</p>
                            <nz-select *ngIf="!user.deleted_at" [nzAllowClear]="false" [(ngModel)]="user.role.id" (ngModelChange)="updateRole(user)" nzAllowClear nzPlaceHolder="Choose">
                                <nz-option *ngFor="let role of roles" [nzValue]="role.id" [nzLabel]="role.libelle"></nz-option>
                            </nz-select>
                        </td>
                        <td>
                            <span *ngIf="user.deleted_at" class="badge text-white bg-secondary" style="font-weight: 200;">Utilisateur supprimé</span>
                            <div *ngIf="!user.deleted_at">
                                <a nz-popconfirm nzPopconfirmTitle="Voulez vous vraiment supprimer cet utilisateur ?" [nzIcon]="iconTpl" (nzOnConfirm)="deleteUser(user)"><i class="p-2" nz-icon nzType="delete"  nzTheme="outline"></i></a>
                                <ng-template #iconTpl>
                                    <i nz-icon nzType="exclamation-circle" color="red"></i>
                                </ng-template>
                                <nz-divider nzType="vertical"></nz-divider>
                                <a><i (click)="editUser(user)" nz-icon nzType="edit" nzTheme="outline"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>