<div class="text-center mb-5">
    <div class="row pl">
      <div class="col-4 pl-5">
        <form class="form-inline pl-5">
          <input style="box-shadow:inset 0px 0px 5px 1px rgba(151, 151, 151, 0.18); border: none;" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
      <div class="col-4">
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Filtrer les résultats
          </a>
  
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-warning rounded-0">Import</button>
        <button type="button" class="btn btn-dark rounded-0 ml-2">Export</button>
      </div>
    </div>
  </div>