<div class="modal-body">
  <p>Veullez importer votre fichier XML :</p>
  <nz-upload nzType="drag" [nzMultiple]="false" [nzLimit]="1" nzAction="{{environnement.apiurl}}/kit/import">
    <p class="ant-upload-drag-icon">
      <i nz-icon nzType="inbox"></i>
    </p>
    <p class="ant-upload-text">Cliquez ou déposez un fichier XML à importer</p>
    <p class="ant-upload-hint">
      Seul les fichiers de type xml généré par ce logiciel sont acceptés. En cas de problème, merci de contacter l'assistance de ce site.
    </p>
  </nz-upload>
</div>