.custom-file-input {
    outline: none;
    opacity: 1;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Select some files';
    color: black;
    display: inline-block;
    background-color: #ffc107;
    border: 1px solid #ffc107;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 12pt;
  }
  .custom-file-input:hover::before {
    border-color: #e0a800;
    background-color: #e0a800;
  }
  .custom-file-input:active {
    outline: 0;
  }