<div>
    <h4 class="modal-title text-center">Import de kit</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Veullez importer votre fichier XML :</p>
     <input type="file" class="custom-file-input">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>