<form nz-form [formGroup]="form">
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Code</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Le champs est requis et dois faire 4 caractères">
            <input nz-input [formControl]="form.controls['codekit']" name="code" required minlength="4" maxlength="4" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Duree</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Le champs est requis">
            <nz-input-group [nzSuffix]="dureeSuffix">
                <input nz-input [formControl]="form.controls['duree']" min="0" type="number" name="duree" required />
            </nz-input-group>
            <ng-template #dureeSuffix>
                <span style="color: rgba(0, 0, 0, 0.25)"><i nz-icon nzType="hourglass" nzTheme="outline"></i></span>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Annee</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Le champs est requis">
            <nz-year-picker [formControl]="form.controls['annee']" [nzSize]="'large'" name="annee" required></nz-year-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Prix</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Le champs est requis">
            <nz-input-group [nzSuffix]="euroIcon">
                <input nz-input [formControl]="form.controls['prix']" type="number" name="prix" required />
            </nz-input-group>
            <ng-template #euroIcon>
                <span style="color: rgba(0, 0, 0, 0.25)">€</span>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Fabricant</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Le champs est requis">
            <nz-select [formControl]="form.controls['codef']" name="codeF" required nzShowSearch nzAllowClear
                nzPlaceHolder="Selectionnez un fabricant">
                <nz-option *ngFor="let fabricant of fabricants" [nzLabel]="fabricant.nom" [nzValue]="fabricant.codef">
                </nz-option>

            </nz-select>
        </nz-form-control>
    </nz-form-item>
</form>