<form nz-form [formGroup]="form">
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Code</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Le champs est requis et dois faire 4 caractères">
            <input nz-input [formControl]="form.controls['codef']" name="code" required minlength="4" maxlength="4"/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Nom</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Le champs est requis">
            <input nz-input [formControl]="form.controls['nom']" name="nom" required/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Pays</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Le champs est requis">
            <input nz-input [formControl]="form.controls['pays']" name="pays" required/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Ville</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Le champs est requis">
            <input nz-input [formControl]="form.controls['ville']" name="ville" required />
        </nz-form-control>
    </nz-form-item>
</form>