<div class="row m-0 px-0 mb-5">

	<div class="col-md-10 col-12 d-block mx-auto">
		<div class="text-center mb-5">
			<h1> Gestion des fabricants</h1>
		</div>
		<div class="px-md-5">
			<div class="mb-4 shadow-sm">
				<nz-collapse [nzBordered]="false">
					<nz-collapse-panel [nzHeader]="'Afficher les filtres'" [nzActive]="true">
						<div class="row my-3">
							<div class="col-3 pl-5">
									<nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
										<input type="text" nz-input placeholder="Rechercher un fabricant" />
									</nz-input-group>
									<ng-template #suffixIconButton>
										<button nz-button nzType="primary" nzSearch><i nz-icon
												nzType="search"></i></button>
									</ng-template>
							</div>
							<div class="col">
								<div class="float-right">

									<button nz-button nzType="primary">
										<i nz-icon nzType="plus"></i> Ajouter un fabricant</button>
								</div>
							</div>
						</div>
					</nz-collapse-panel>
				</nz-collapse>
			</div>
			<nz-table class="table">
				<thead (nzSortChange)="sort($event)">
					<tr>
						<th nzShowSort nzSortKey="CodeF" scope="col">Code</th>
						<th nzShowSort nzSortKey="Fabricant">Nom</th>
						<th nzShowSort nzSortKey="Pays">Pays</th>
						<th nzShowSort nzSortKey="Ville">Ville</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let fabricant of fabricants?.data">
						<td style="border-bottom: 1px solid #fafafa;">{{fabricant.CodeF}}</td>
						<td style="border-bottom: 1px solid #fafafa;">{{fabricant.Nom}}</td>
						<td style="border-bottom: 1px solid #fafafa;">{{fabricant.Pays}}</td>
						<td style="border-bottom: 1px solid #fafafa;">{{fabricant.Ville}}</td>
					</tr>
				</tbody>
			</nz-table>
		</div>
		<nav class="float-right mt-2" aria-label="Page navigation example">
			<nz-pagination [nzPageIndex]="1" [nzTotal]="fabricants?.last_page" [nzSimple]="true"
				(nzPageIndexChange)="changePage($event)"></nz-pagination>
		</nav>
	</div>
</div>