<div class="row m-0 px-0 mb-5">

  <div class="col-md-10 col-12 d-block mx-auto">
    <div class="text-center mb-5">
      <h1> Gestion des inventaires</h1>
    </div>
    <div class="px-md-5">
      <div class="mb-4 shadow-sm">
        <nz-collapse [nzBordered]="false">
          <nz-collapse-panel [nzHeader]="'Afficher les filtres'" [nzActive]="true">
            <div class="row my-3">
              <div class="col-5 pl-5">
                <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChangeRange($event)"></nz-range-picker>
              </div>
              <div class="col-3">
                <nz-select [nzMaxTagPlaceholder]="tagPlaceHolder" style="width:100%" nzMode="multiple"
                  (ngModelChange)="sendFilter()" nzPlaceHolder="Réalisé par" [(ngModel)]="filter.creators">
                  <!-- <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option> -->
                </nz-select>
                <ng-template #tagPlaceHolder let-selectedList> et {{ selectedList.length }} autres
                </ng-template>
              </div>
              <div class="col">

                <div class="float-right">
                  <button nz-button nzType="primary"><i nz-icon nzType="vertical-align-bottom"></i>
                    Télécharger l'outil</button>
                </div>
              </div>
            </div>
          </nz-collapse-panel>
        </nz-collapse>
      </div>

      <nz-list class="demo-loadmore-list" [nzDataSource]="inventaires?.data" [nzItemLayout]="'horizontal'"
        [nzRenderItem]="item" [nzLoading]="false" [nzLoadMore]="loadMore">
        <ng-template #item let-inventaire>

          <nz-list-item [nzActions]="[]">
            <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="false">
              <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="nzDescription">
                <ng-template #nzTitle>
                  <a>Inventaire du {{inventaire.created_at | date:'medium'}}</a>
                </ng-template>
                <ng-template #nzDescription>
                  <a>Réalisé par Victor
                    <nz-divider nzType="vertical"></nz-divider>
                    Kits comptés : {{inventaire.enregistrements.length}}
                  </a>
                  <nz-collapse [nzBordered]="false">
                    <nz-collapse-panel [nzHeader]="'Détails'" [nzActive]="false">
                      <!-- Afficher la listes des enregistrements avec list -->
                      <nz-table #basicTable [nzData]="inventaire.enregistrements" [nzShowPagination]="false">
                        <thead>
                          <tr>
                            <th>Référence</th>
                            <th>Année</th>
                            <th>Fabricant</th>
                            <th>Stock</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let enregistrement of inventaire.enregistrements">
                            <td>{{enregistrement.CodeKit}}</td>
                            <td>{{enregistrement.kit.Annee | date}}</td>
                            <td>{{enregistrement.kit.fabricant.Nom}}</td>
                            <td *ngIf="enregistrement.Stock == 0">
                              <nz-badge nzColor="red" nzText="{{enregistrement.Stock}}"></nz-badge>
                            </td>
                            <td *ngIf="enregistrement.Stock > 0 && enregistrement.Stock < 10">
                              <nz-badge nzStatus="default" nzText="{{enregistrement.Stock}}"></nz-badge>
                            </td>
                            <td *ngIf="enregistrement.Stock >= 10">
                              <nz-badge nzColor="#d8a864" nzText="{{enregistrement.Stock}}"></nz-badge>
                            </td>
                          </tr>
                        </tbody>
                      </nz-table>
                    </nz-collapse-panel>
                  </nz-collapse>
                </ng-template>
              </nz-list-item-meta>
            </nz-skeleton>
          </nz-list-item>
        </ng-template>
        <ng-template #loadMore>
          <div class="loadmore">
            <div class="d-block mx-auto">
              <button nz-button nzType="primary" *ngIf="inventaires?.next_page_url !== null"
                (click)="onLoadMore()">Charger plus</button>
            </div>
          </div>
        </ng-template>
      </nz-list>
    </div>
  </div>
</div>