
::ng-deep {
  .custom-slider {
    width: 20%;
  }
  .custom-slider .ng5-slider .ng5-slider-bar {
    height: 5px;
  }
    .custom-slider .ng5-slider .ng5-slider-selection {
        background: #ffc107;
      }
      .custom-slider .ng5-slider .ng5-slider-pointer {
        width: 8px;
        height: 16px;
        top: auto; /* to remove the default positioning */
        bottom: 0;
        background-color: #333;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }
      .custom-slider .ng5-slider .ng5-slider-pointer:after {
        display: none;
      }

      .custom-checkbox .custom-control-label::before{
        width: 20px;
        height: 20px;
        border-radius: 0px;
      }
      .custom-control-label{
        font-size: 18px;
      }
      .table thead th{
        border-bottom: none;
      }
      .table th{
        border-top: none;
        border-bottom: 1px solid #dee2e6;
      }
}